<h2>Lehrende*n bearbeiten</h2>

<%= render "form.html", changeset: @changeset,
                        action: course_instructor_path(@conn, :update, @course, @instructor) %>

<%= link "Zurück", to: course_instructor_path(@conn, :index, @course) %>
