<h2>Show instructor</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @instructor.name %>
  </li>

  <li>
    <strong>Course:</strong>
    <%= @instructor.course_id %>
  </li>

</ul>

<%= link "Edit", to: course_instructor_path(@conn, :edit, @course, @instructor) %>
<%= link "Back", to: course_instructor_path(@conn, :index, @course) %>
