[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {phoenix,[{serve_endpoints,true}]},
 {klausurenarchiv,
     [{ecto_repos,['Elixir.Klausurenarchiv.Repo']},
      {store,[{path,<<"/data">>}]},
      {'Elixir.Klausurenarchiv.Endpoint',
          [{render_errors,
               [{view,'Elixir.Klausurenarchiv.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Klausurenarchiv.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,8888}]},
           {url,[{host,<<"sozialoekonomie.klausurenarchiv.de">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {server,true},
           {root,<<".">>},
           {secret_key_base,
               <<"rDb6PlFXxUo8aVD4OXdrleCEWGD3X8ooTTYTVwLPkKay3s2GJmCr9CFzvh+NqW+r">>}]},
      {'Elixir.Klausurenarchiv.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"klausurenarchiv_db">>},
           {password,<<"Q[hSo6~rC1o32?T5pU">>},
           {database,<<"klausurenarchiv_db">>},
           {pool_size,20}]},
      {users,[{initial_admins,[<<"10205477885426354">>]}]}]},
 {ueberauth,
     [{'Elixir.Ueberauth',
          [{providers,
               [{facebook,
                    {'Elixir.Ueberauth.Strategy.Facebook',
                        [{profile_fields,
                             <<"name, email, first_name, last_name">>},
                         {callback_url,
                             <<"https://sozialoekonomie.klausurenarchiv.de/auth/facebook/callback">>}]}}]}]},
      {'Elixir.Ueberauth.Strategy.Facebook.OAuth',
          [{client_id,<<"1590181077953720">>},
           {client_secret,<<"9f1a64dbeddfde20eebee7eca8ed2e9f">>}]}]}].
