<h2>Edit upload</h2>

<%= render "form.html", changeset: @changeset,
                        action: course_instructor_upload_path(@conn, :update, @course, @instructor, @upload) %>

<%= link "Back", to: course_instructor_upload_path(@conn, :index, @course, @instructor) %>
