<h2>Show upload</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @upload.description %>
  </li>

  <li>
    <strong>Files:</strong>
    <%= @upload.files %>
  </li>

</ul>

<%= link "Edit", to: course_instructor_upload_path(@conn, :edit, @course, @instructor, @upload) %>
<%= link "Back", to: course_instructor_upload_path(@conn, :index, @course, @instructor) %>
