<h2><%= @course.name %> bearbeiten</h2>

<%= render "form.html", changeset: @changeset,
                        action: course_path(@conn, :update, @course) %>

<%= link "Zurück", to: course_path(@conn, :index) %>
