<h2>Neuer Kurs</h2>

<%= render "form.html", changeset: @changeset,
                        action: course_path(@conn, :create) %>

<%= link to: course_path(@conn, :index), class: "col-xs-6" do %>
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Zurück
<% end %>
